@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 60 56% 91%;
    --card: 222 47% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 60 56% 91%;
    --primary: 217 91% 60%;
    --primary-foreground: 217 91% 10%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 222 47% 20%;
    --muted-foreground: 60 25% 70%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 25%;
    --input: 222 47% 20%;
    --ring: 217 91% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 224 7% 7%;
    --foreground: 60 56% 91%;
    --card: 222 47% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 222 47% 11%;
    --popover-foreground: 60 56% 91%;
    --primary: 217 91% 60%;
    --primary-foreground: 217 91% 10%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 60 56% 91%;
    --muted: 222 47% 20%;
    --muted-foreground: 60 25% 70%;
    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 25%;
    --input: 222 47% 20%;
    --ring: 217 91% 60%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
